.elevator {
  position: relative;
  width: 300px;
  margin-left: calc(50% - 150px);
  padding: 40px 40px 0;
  background: linear-gradient(to bottom, #253852 0%, #3f6679 55%, #253852 84%, #3f6679 100%); 

  &-container {
    display: flex;
    padding-top: 25%;
  }

  &__floor {
    position: absolute;
    top: 10px;
    left: calc(50% - 25px);
    border: #406277 3px solid;
    width: 50px;
    height: 20px;
    color: #C5E13A;
    background-color: black;
    text-align: center;
  }
}